@import "tailwindcss";
@plugin "@savvywombat/tailwindcss-grid-areas";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* @import './scss/variables';
@import './scss/stats'; */

@layer components {
	.filter-white {
		filter: brightness(0) invert(1);
	}

	.filter-none {
		filter: none;
	}
}

@font-face {
	font-family: 'icomoon';
	src: url('/webfonts/stats.eot?dsl84y');
	src: url('/webfonts/stats.eot?dsl84y#iefix') format('embedded-opentype'),
		url('/webfonts/stats.ttf?dsl84y') format('truetype'),
		url('/webfonts/stats.woff?dsl84y') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}


[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-anemoDamageBonus:before,
.icon-anemo_dmg_:before {
	content: '\e900';
}
.icon-atk:before {
	content: '\e901';
}
.icon-atk_:before {
	content: '\e902';
}
.icon-critDamage:before,
.icon-critDMG_:before {
	content: '\e903';
}
.icon-critRate:before,
.icon-critRate_:before {
	content: '\e905';
}
.icon-cryoDamageBonus:before,
.icon-cryo_dmg_:before {
	content: '\e906';
}
.icon-def:before {
	content: '\e907';
}
.icon-def_:before {
	content: '\e908';
}
.icon-dendroDamageBonus:before,
.icon-dendro_dmg_:before {
	content: '\e909';
}
.icon-electroDamageBonus:before,
.icon-electro_dmg_:before {
	content: '\e90a';
}
.icon-elementalMastery:before,
.icon-eleMas:before {
	content: '\e90b';
}
.icon-energyRecharge:before,
.icon-enerRech_:before {
	content: '\e90c';
}
.icon-geoDamageBonus:before,
.icon-geo_dmg_:before {
	content: '\e90e';
}
.icon-healingBonus:before,
.icon-heal_:before {
	content: '\e90f';
}
.icon-maxHp:before,
.icon-hp:before {
	content: '\e910';
}
.icon-hp_:before {
	content: '\e912';
}
.icon-hydroDamageBonus:before,
.icon-hydro_dmg_:before {
	content: '\e915';
}
.icon-physicalDamageBonus:before,
.icon-physical_dmg_:before {
	content: '\e916';
}
.icon-pyroDamageBonus:before,
.icon-pyro_dmg_:before {
	content: '\e917';
}

