@use 'sass:color';

$anemo: #80ffe6;
$anemo-dark: color.scale($anemo, $lightness: -60%);
$cryo: #55ddff;
$cryo-dark: color.scale($cryo, $lightness: -50%);
$dendro: #a5c83b;
$dendro-dark: color.scale($dendro, $lightness: -20%);
$electro: #b380ff;
$electro-dark: color.scale($electro, $lightness: -20%);
$geo: #fc0;
$geo-dark: color.scale($geo, $lightness: -20%);
$hydro: #3e99ff;
$hydro-dark: color.scale($hydro, $lightness: -35%);
$pyro: #f95;
$pyro-dark: color.scale($pyro, $lightness: -45%);

$common: #fff;
$uncommon: #1eff00;
$rare: #0070dd;
$epic: #a335ee;
$legendary: #ff8000;
$mythic: #00e1ff;